
/* Login page*/
#main-white-div {
    margin-top: -20px;
    margin-bottom: -20px;
   
}

.page-header{
    border: none;

}


#loginForm {
    padding-top: 275px;
    
}


.col-sm-2 control-label{
 padding-right: 10px;
 margin-right: 175px;
}

/*Main login page company title*/
.company-name {

    font-family: 'Quicksand', sans-serif;
    color: #ff5050;
    /*text-shadow: 0 0 3px #84e1e1, 0 0 5px #eafafa;*/
}

.main-pic {

    margin-left: 160px;
    padding-left: 25px;
    margin-bottom: 55px;
}

/*Doc login page*/
#doc-logo {

    padding-left: 175px;
}

/*Background for every view*/
.mainBody {

    background-image: url(../images/icyPoly.jpg);

    /*background: repeating-radial-gradient(#eafafa, #84e1e1);*/

}


/*MD login link on main page & homelink on MD login*/
#bottomLink {

    background: none;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    box-shadow: none;
}


/*Main white div on main login*/
.col-md-12 {

    background-color: white;
    border-radius: 25px;
    border-color: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Text above thumnails on main login*/
.above-pics {
    font-family: 'Quicksand', sans-serif;
    background-color: #eafafa;
    text-align:center;
    color: #ff5050;
    margin-left: -13px;
}

#small-pics {
    margin-left: 20px;

}


/*Main page login thumbnails*/
.thumbnail {
    border: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-left: -10px;  
    box-shadow: none;
    background-color: none;
  
}

/*Main container on views*/
.container-fluid {
    border: none;
    margin-top: 35px;

}

/*Input boxes for MD login page*/
#inputIdNumber {

  width: 300px;
    
}

/*Input boxes for MD login page*/
#inputPassword4 {

  width: 300px;
    
}

/*MD login form*/
#mdLogin {

    margin-left: 300px;
}

/*Logo on dashboard*/
.dash-doc {
    padding-left: 55px;
    padding-bottom: 135px;

}

/*Pt registration form */
#pt-registration {
    font-family: 'Quicksand', sans-serif;

}

#pt-registration h3 {
    text-align: center;
}

#pt-registration h4 {
    font-style: italic;
}

.btn-register {
    background-color: #ff5050;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 15px 25px;

}



/*Dashboard greeting*/
#dash-greeting {
    font-family: 'Quicksand', sans-serif;
    padding-top: 55px;

}

/*Dashboard accordion*/

.db-acc {
    font-family: 'Quicksand', sans-serif;

}

